@charset "UTF-8";

@mixin flex($direction: column, $inline: block) {
  display: if($inline==block, flex, inline-flex);
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin ellipse() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multellipse($row: 2) {
  overflow: hidden;
  -webkit-line-clamp: $row;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
